@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Raleway-Light';
    src: url('../fonts/Raleway-Light.ttf');
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('../fonts/Montserrat-Light.otf');
}

*{
	margin: 0;
	padding: 0;
}

html, body{
    height: 100%;
}

/*#region Header*/

header{
	height: 75px;
    z-index: 500;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: solid rgba(255, 255, 255, 0.6) 1px;
}

header > nav {
    float: left;
    padding-left: 30px;
    padding-right: 30px;
}

header > nav > a {
    float: left;
    font-family: 'Raleway-Light';
    font-size: 13px;
    font-weight: bolder;
    text-decoration: none;
    color: #ffffff;
    margin: 29px 14px 0px 16px;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 3px;
}

header > a {
    float: right;
    color: #ffffff;
    padding: 4px;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 25px;
    border-radius: 50%;
}

header > a:hover {
    color: #b59292;
    transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}

/*#endregion Header*/

/*#region Intro*/

.introSection {
    height: 100%;
}

.introSection > video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.introSection > p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    font-family: 'Raleway-Light';
    font-size: 30px;
    font-weight: 900;
    color: #ffffff;
    letter-spacing: 1.5px;
    width: 400px;
}

.fadeIn {
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-in-out;	
    -webkit-animation-timing-function: ease-in-out;	

	visibility: visible !important;	
}

@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		transform: scale(1.1);	
	}
	80% {
		transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		transform: scale(1);
		opacity: 1;	
	}		
}

/*#endregion Intro*/

/*#region Services*/

#servicesSection {
    background-color: #f9f9f9;
    padding: 100px 40px 100px 40px;
}

#servicesSection > .serviceContent {
    float: left;
    width: 30%;
    color: #7a7676;
    text-align: center;
    font-family: 'Raleway-Light';
    border-right: 1px solid #7a7676;
    padding: 0px 20px 0px 20px;
}

#servicesSection > .serviceContent > i {
    font-size: 45px;
    margin-bottom: 15px;
    visibility: hidden;
}

#servicesSection > .serviceContent > h3 {
    font-size: 30px;
    margin-bottom: 15px;
}

#servicesSection > .serviceContent > p {
    font-size: 18px;
    letter-spacing: 2px;
}

#servicesSection > #thirdContent {
    display: inline-block;
    width: 30%;
    color: #7a7676;
    text-align: center;
    font-family: 'Raleway-Light';
    padding: 0px 20px 0px 20px;
}

#servicesSection > #thirdContent > i {
    font-size: 45px;
    margin-bottom: 15px;
    visibility: hidden;
}

#servicesSection > #thirdContent > h3 {
    font-size: 30px;
    margin-bottom: 15px;
}

#servicesSection > #thirdContent > p {
    font-size: 18px;
    letter-spacing: 2px;
}

/*#endregion Services*/

/*#region About*/

#aboutSection {
    padding: 70px 30px 70px 30px;
    background-size: cover;
}

#aboutSection > .textContainer {
    float: left;
    padding-top: 30px;
    padding-bottom: 40px;
    width: 60%;
}

#aboutSection > .textContainer > h2 {
    text-align: center;
    font-family: 'Raleway-Light';
    color: #7a7676;
    font-size: 30px;
    padding-bottom: 40px;
    text-transform: uppercase;
}

#aboutSection > .textContainer > p {
    font-family: 'Raleway-Light';
    font-size: 18px;
    text-align: center;
    letter-spacing: 1px;
    color: #7a7676;
    line-height: 26px;
}

#aboutSection > .imageContainer {
    width: 25%;
    float: right;
}

#aboutSection > .imageContainer > .portraitImage {
    max-width: 100%;
}

/*#endregion About*/

/*#region Projects*/

#projectsSection {
    background-color: #f9f9f9;
    padding: 30px 50px 120px 50px;
}

#projectsSection > #headlineStorage {
    position: relative;
    top: 60px;
    margin: 0px 120px 150px 120px;
    border-top: 2px solid #d3d3d3;
    border-bottom: 2px solid #d3d3d3;
}

#projectsSection > #headlineStorage > h2 {
    font-family: 'Raleway-Light';
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    color: #878383;
    letter-spacing: 1.5px;
    padding: 30px;
}

#projectsSection > .projectContent {
    width: 30%;
    background-color: #ffffff;
    display: inline-block;
    margin-left: 30px;
}

#projectsSection > .projectContent > .upperHalf {
    height: 43%;
    background-size: 100%;
    background-repeat: no-repeat;
    transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    background-position: center;
    opacity: 0.8;
}

#projectsSection > .projectContent > .upperHalf:hover {
    background-size: 110%;
}

#projectsSection > .projectContent > .upperHalf > h3 {
    font-family: 'Raleway-Light';
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 75px;
    padding-bottom: 75px;
    color: #ffffff;
}

#projectsSection > .projectContent > p {
    font-family: 'Raleway-Light';
    font-size: 18px;
    text-align: center;
    margin-top: 25px;
    padding: 10px 15px 25px 15px;
    color: #635e5e;
}

.projectButton {
    font-family: 'Raleway-Light';
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1.5px;
    border: #f4b858;
    color: #ffffff;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 210px;
    height: 50px;
    background-color: #7c7575;
    transition: all 0.5s;
    cursor: pointer;
}

.projectButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .projectButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .projectButton:hover span {
    padding-right: 25px;
  }
  
  .projectButton:hover span:after {
    opacity: 1;
    right: 0;
  }

/*#endregion Projects*/

/*#region Footer*/

footer {
    text-align: center;
    background-color: #2d2d2d;
    position: absolute;
    width: 100%;
    height: auto;
}

footer > .footerImageContainer {
    display: block;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    position: absolute;
}

footer > .footerImageContainer > .footerImage {
    width: 100%;
    height: auto;
    opacity: 0.6;
}

footer > .footerTextContainer {
    position: relative;
    width: 30%;
    margin: 0 auto;
    top: 170px;
}

footer > .footerTextContainer > h1 {
    font-family: 'Raleway-Light';
    font-size: 30px;
    color: #ffffff;
    letter-spacing: 1.5px;
}

footer > .footerTextContainer > p {
    font-family: 'Raleway-Light';
    font-size: 15px;
    color: #ffffff;
    letter-spacing: 1.5px;
    margin-top: 35px;
    margin-bottom: 20px;
}

footer > h4 {
    font-family: 'Raleway-Light';
    font-size: 14px;
    padding-top: 300px;
    padding-bottom: 50px;
    color: #ffffff;
    letter-spacing: 1.5px;
}

footer > .footerTextContainer > a {
    color: #ffffff;
    font-size: 30px;
    padding: 10px;
}

footer > .footerTextContainer > a:hover {
    color: #1e1e1e;
    transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}

/*#endregion Footer*/

@media screen and (max-width: 1316px){  
    #servicesSection > #thirdContent {
        display: block;
        margin: 0 auto;
        margin-top: 190px;
    }

    #servicesSection > .serviceContent {
        width: 46%;
    }

    #servicesSection > .serviceContent:nth-child(2) {
        border: none;
    } 
}

@media screen and (max-width: 1210px){
    #aboutSection > .textContainer {
        float: none;
        display: block;
        margin: 0 auto;
        width: 90%;
    }
    
    #aboutSection > .imageContainer {
        float: none;
        display: block;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1150px){  
    .introSection > video {
        height: 100%;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
    }
}
@media screen and (max-width: 1110px){  
    #servicesSection > .serviceContent {
        width: 45%;
    }
}

@media screen and (max-width: 1096px){ 
    #projectsSection > .projectContent {
        width: 45%;
        padding-bottom: 1px;
    }

    #projectsSection > .projectContent:nth-child(4) {
        display: block;
        margin: 0 auto;
        margin-top: 70px;
        padding-bottom: 1px;
    }
}

@media screen and (max-width: 906px){ 

    #servicesSection > .serviceContent {
        float: none;
        display: block;
        margin: 0 auto;
        border: none;
        width: 100%;
    }

    #servicesSection > #thirdContent {
        width: 100%;
        float: none;
        margin-top: 50px;
    }

    #servicesSection > .serviceContent:nth-child(2) {
    margin-top: 50px;
    }

    #servicesSection > .serviceContent > i {
        font-size: 40px;
    }

    #servicesSection > #thirdContent > i {
        font-size: 40px;
    }

    #servicesSection > .serviceContent > h3 {
        font-size: 25px;
    }

    #servicesSection > #thirdContent > h3 {
        font-size: 25px;
    }

    #servicesSection > .serviceContent > p {
        font-size: 16px;
    } 

    #servicesSection > #thirdContent > p {
        font-size: 16px;
    } 
}

@media screen and (max-width: 900px){
    .introSection > p {
        font-size: 25px;
    }
}

@media screen and (max-width: 812px){
    footer > .footerTextContainer > h1 {
        font-size: 28px;
    }

    footer > .footerTextContainer > p {
        font-size: 15px;
        margin-bottom: 17px;
    }

    footer > .footerTextContainer > a {
        font-size: 28px;
    }
}

@media screen and (max-width: 805px){
    #aboutSection > .textContainer > h2 {
        font-size: 25px;
    }
    
    #aboutSection > .textContainer > p {
        font-size: 16px;
    }
}

@media screen and (max-width: 756px){
    #projectsSection > .projectContent {
        display: block;
        width: 70%;
        margin: 0 auto;
    }

    #projectsSection > .projectContent:nth-child(3) {
        margin-top: 70px;
    }
}

@media screen and (max-width: 700px){
    #aboutSection > .imageContainer {
        width: 40%;
    }
}

@media screen and (max-width: 650px){
    .introSection > p {
        font-size: 20px;
    }

    header > nav {
        display: none;
    }

    #projectsSection > #headlineStorage {
        margin: 0px 60px 150px 60px;
    }
}

@media screen and (max-width: 592px){
    footer > .footerTextContainer > h1 {
        font-size: 23px;
    }

    footer > .footerTextContainer > p {
        font-size: 13px;
        margin-bottom: 17px;
        margin-top: 25px;
    }

    footer > .footerTextContainer > a {
        font-size: 22px;
    }
}

@media screen and (max-width: 550px){
    #projectsSection > .projectContent {
        width: 85%;
    }
}

@media screen and (max-width: 480px){
    #projectsSection > #headlineStorage > h2 {
        font-size: 28px;
    }

    footer > .footerImageContainer {
        width: 250px;
    }

    footer > .footerTextContainer {
        width: 45%;
    }

    footer > .footerTextContainer > h1 {
        font-size: 20px;
    }

    footer > .footerTextContainer > p {
        font-size: 12px;
        margin-bottom: 17px;
        margin-top: 25px;
    }

    footer > .footerTextContainer > a {
        font-size: 18px;
    }
}

@media screen and (max-width: 430px){
    .introSection > p {
        font-size: 17px;
    }

    #projectsSection {
        padding: 30px 10px 120px 10px;
    }

     footer > h4 {
        font-size: 12px;
    }

    #servicesSection > .serviceContent > i {
        font-size: 30px;
    }

    #servicesSection > #thirdContent > i {
        font-size: 30px;
    } 
    
    #servicesSection > .serviceContent > h3 {
        font-size: 20px;
    }

    #servicesSection > #thirdContent > h3 {
        font-size: 20px;
    } 
    
    #servicesSection > .serviceContent > p {
        font-size: 14px;
    }

    #servicesSection > #thirdContent > p {
        font-size: 14px;
    }

    #projectsSection > .projectContent > .upperHalf > h3 {
        font-size: 20px;
    }
    
    #projectsSection > .projectContent > p {
        font-size: 14px;
    }

    #aboutSection > .textContainer > h2 {
        font-size: 20px;
    }
    
    #aboutSection > .textContainer > p {
        font-size: 14px;
    }

    #aboutSection > .imageContainer {
        width: 55%;
    }
}

@media screen and (max-width: 370px){

    #projectsSection > #headlineStorage {
        margin: 0px 30px 150px 30px;
    }

    #projectsSection > #headlineStorage > h2 {
        font-size: 24px;
        text-align: center;
    }
}