@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Raleway-Light';
    src: url('../fonts/Raleway-Light.ttf');
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('../fonts/Montserrat-Light.otf');
}

*{
	margin: 0;
	padding: 0;
}

/*#region Header*/

header{
	height: 75px;
    background-color: #6d3250;
}

header > nav {
    float: left;
    padding-left: 30px;
    padding-right: 30px;
}

header > nav > a {
    float: left;
    font-family: 'Raleway-Light';
    font-size: 13px;
    text-decoration: none;
    color: #ffffff;
    margin: 29px 14px 0px 16px;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 3px;
}

header > a {
    float: right;
    color: #ffffff;
    padding: 4px;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 25px;
    border-radius: 50%;
}

header > a:hover {
    color: #472335;
    transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}

/*#endregion Header*/

/*#region Intro*/

#introSection {
    background-size: cover;
}

#introSection > p {
    text-align: center;
    font-family: 'Raleway-Light';
    font-size: 30px;
    font-weight: 900;
    color: #ffffff;
    padding-top: 250px;
    letter-spacing: 1.5px;
    padding-bottom: 220px;
}

/*#endregion Intro*/

/*#region Services*/

#servicesSection {
    background-color: #e5dce0;
    padding: 60px 40px 60px 40px;
}

#servicesSection > .serviceContent {
    display: inline-block;
    width: 29.5%;
    color: #635e5e;
    text-align: center;
    font-family: 'Raleway-Light';
    border-right: 1px solid #635e5e;
    padding: 0px 20px 0px 20px;
}

#servicesSection > .serviceContent > i {
    font-size: 45px;
    margin-bottom: 15px;
}

#servicesSection > .serviceContent > h3 {
    font-size: 30px;
    margin-bottom: 15px;
}

#servicesSection > .serviceContent > p {
    font-size: 18px;
    letter-spacing: 2px;
}

#servicesSection > #thirdContent {
    display: inline-block;
    width: 29.5%;
    color: #635e5e;
    text-align: center;
    font-family: 'Raleway-Light';
    padding: 0px 20px 0px 20px;
}

#servicesSection > #thirdContent > i {
    font-size: 45px;
    margin-bottom: 15px;
}

#servicesSection > #thirdContent > h3 {
    font-size: 30px;
    margin-bottom: 15px;
}

#servicesSection > #thirdContent > p {
    font-size: 18px;
    letter-spacing: 2px;
}

/*#endregion Services*/

/*#region About*/

#aboutSection {
    padding: 30px;
    background-size: cover;
}

#aboutSection > .textContainer {
    height: 100%;
    float: left;
    padding-top: 30px;
    padding-bottom: 60px;
}

#aboutSection > .textContainer > h2 {
    text-align: center;
    font-family: 'Raleway-Light';
    color: #635e5e;
    font-size: 30px;
    padding-bottom: 40px;
    text-transform: uppercase;
}

#aboutSection > .textContainer > p {
    font-family: 'Raleway-Light';
    font-size: 18px;
    text-align: center;
    letter-spacing: 1px;
    color: #635e5e;
    line-height: 26px;
    padding-left: 30px;
}

#aboutSection > .portraitImage {
    max-width: 23%;
    padding-left: 150px;
}

/*#endregion About*/

/*#region Projects*/

#projectsSection {
    background-color: #e5dce0;
    padding: 30px 50px 120px 50px;
}

#projectsSection > #headlineStorage {
    position: relative;
    top: 60px;
    margin: 0px 120px 150px 120px;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}

#projectsSection > #headlineStorage > h2 {
    font-family: 'Raleway-Light';
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    color: #635e5e;
    letter-spacing: 1.5px;
    padding: 30px;
}

#projectsSection > .projectContent {
    width: 30%;
    background-color: #ffffff;
    display: inline-block;
    margin-left: 30px;
}

#projectsSection > .projectContent > .upperHalf {
    height: 43%;
    background-size: 400px 350px;
    transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    background-position: center;
}

#projectsSection > .projectContent > .upperHalf:hover {
    background-size: 500px 450px;
}

#projectsSection > .projectContent > .upperHalf > h3 {
    font-family: 'Raleway-Light';
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 60px;
    padding-bottom: 60px;
    color: #ffffff;
}

#projectsSection > .projectContent > p {
    font-family: 'Raleway-Light';
    font-size: 18px;
    text-align: center;
    margin-top: 25px;
    padding: 10px 15px 25px 15px;
    color: #635e5e;
}

.projectButton {
    font-family: 'Raleway-Light';
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1.5px;
    border-radius: 5px;
    border: #f4b858;
    color: #ffffff;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 210px;
    height: 50px;
    background-color: #7c7575;
    transition: all 0.5s;
    cursor: pointer;
}

.projectButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .projectButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .projectButton:hover span {
    padding-right: 25px;
  }
  
  .projectButton:hover span:after {
    opacity: 1;
    right: 0;
  }

/*#endregion Projects*/

/*#region Footer*/

footer {
    padding: 100px 40px 100px 40px;
    background-color: #6d3250;
    text-align: center;
}

footer > h1 {
    font-family: 'Raleway-Light';
    font-size: 45px;
    color: #ffffff;
    letter-spacing: 1.5px;
}

footer > p {
    font-family: 'Raleway-Light';
    font-size: 20px;
    color: #ffffff;
    letter-spacing: 1.5px;
    margin-top: 35px;
    margin-bottom: 45px;
}

footer > h4 {
    font-family: 'Raleway-Light';
    font-size: 16px;
    margin-top: 35px;
    color: #ffffff;
    letter-spacing: 1.5px;
}

footer > a {
    color: #ffffff;
    font-size: 35px;
    padding: 10px;
}

footer > a:hover {
    color: #472335;
    transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}

/*#endregion Footer*/

@media screen and (max-width: 1228px){  
    #servicesSection > #thirdContent {
        display: block;
        margin: 0 auto;
        padding-top: 50px;
    }

    #servicesSection > .serviceContent {
        width: 45%;
    }

    #servicesSection > .serviceContent:nth-child(2) {
        border: none;
    } 
}

@media screen and (max-width: 1133px){
    #aboutSection > .textContainer {
        width: 100%;
        display: block;
        margin: auto;
        padding-right: 85px;
    }
    
    #aboutSection > .portraitImage {
        display: block;
        margin: 0 auto;
        padding: 0;
    }
}

@media screen and (max-width: 1096px){ 
    #projectsSection > .projectContent {
        width: 45%;
        padding-bottom: 1px;
    }

    #projectsSection > .projectContent:nth-child(4) {
        display: block;
        margin: 0 auto;
        margin-top: 70px;
        padding-bottom: 1px;
    }
}

@media screen and (max-width: 947px){  
    #servicesSection > .serviceContent {
        width: 44%;
    }
}

@media screen and (max-width: 900px){
    #introSection > p {
        font-size: 25px;
    }
}

@media screen and (max-width: 805px){
    #servicesSection > .serviceContent {
        display: block;
        margin: 0 auto;
        border: none;
        width: 100%;
    }

    #servicesSection > #thirdContent {
        width: 100%;
    }

    #servicesSection > .serviceContent:nth-child(2) {
    margin-top: 50px;
    }

    #servicesSection > .serviceContent > i {
        font-size: 40px;
    }
    
    #servicesSection > .serviceContent > h3 {
        font-size: 25px;
    }
    
    #servicesSection > .serviceContent > p {
        font-size: 16px;
    }
    
    #servicesSection > #thirdContent > i {
        font-size: 40px;
    }
    
    #servicesSection > #thirdContent > h3 {
        font-size: 25px;
    }
    
    #servicesSection > #thirdContent > p {
        font-size: 16px;
    }    

    #aboutSection > .portraitImage {
       max-width: 30%;
    }
}

@media screen and (max-width: 756px){
    #projectsSection > .projectContent {
        display: block;
        width: 70%;
        margin: 0 auto;
    }

    #projectsSection > .projectContent:nth-child(3) {
        margin-top: 70px;
    }
}

@media screen and (max-width: 650px){
    #introSection > p {
        font-size: 20px;
    }

    header > nav {
        display: none;
    }

    footer > h1 {
        font-size: 40px;
    }
    
    footer > p {
        font-size: 16px;
    }
    
    footer > h4 {
        font-size: 13px;
    }
    
    footer > a {
        font-size: 30px;
    }

    #projectsSection > #headlineStorage {
        margin: 0px 60px 150px 60px;
    }
}

@media screen and (max-width: 550px){
    footer > h1 {
        font-size: 35px;
    }
    
    footer > p {
        font-size: 15px;
    }
    
    footer > h4 {
        font-size: 10px;
    }
    
    footer > a {
        font-size: 25px;
    }

    #projectsSection > .projectContent {
        width: 85%;
    }
}

@media screen and (max-width: 430px){
    #introSection > p {
        font-size: 17px;
    }

    #projectsSection {
        padding: 30px 10px 120px 10px;
    }

    #aboutSection > .portraitImage {
        max-width: 50%;
     }
 }
}

@media screen and (max-width: 340px){
    footer > h1 {
        font-size: 30px;
    }
    
    footer > p {
        font-size: 13px;
    }

    footer > a {
        font-size: 23px;
    }
}




